{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>A32 FATP EM</title>

  <!-- jquery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

{% if messages %}
  {% for message in messages %}
  <script>
    alert("{{ message }}")
  </script>
  {% endfor %}
{% endif %}

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'Index' %}">A32 FATP Equipment Maintenance</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand mr-1 ml-auto text-white">
      Hello {% firstof request.META.REMOTE_USER "not_gi_user" %}
      {% if request.user.is_staff %}(管理員){% endif %}
    </a>

    <!-- Navbar Search -->

    <!-- Navbar -->

  </nav>

  <script>
  $(document).ready(function () {
    $('#sidebarToggle').click();
  });
  </script>

  <div id="wrapper">

    <!-- Sidebar start -->
    {% with sidebarLineList=request.COOKIES.navbarLineList|cookie2List %}
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>首頁</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>統計</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for linename in sidebarLineList %}
          <a class="dropdown-item" href="{% url 'Detail' line=linename %}">{{ linename|upper }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-fw fa-calendar"></i>
          <span>排程</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for linename in sidebarLineList %}
          <a class="dropdown-item" href="{% url 'Schedule' line=linename %}">{{ linename|upper }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-fw fa-wrench"></i>
          <span>保養</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for linename in sidebarLineList %}
          <a class="dropdown-item" href="{% url 'FormAll' line=linename %}">{{ linename|upper }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-fw fa-tasks"></i>
          <span>紀錄</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for linename in sidebarLineList %}
          <a class="dropdown-item" href="{% url 'RecordAll' line=linename %}">{{ linename|upper }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-fw fa-cogs"></i>
          <span>管理</span>
        </a>
      </li>

    </ul>
    {% endwith %}
    <!-- Sidebar end -->

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'Index' %}">首頁</a>
          </li>
          {% for key, value in currentPath.items %}
          <li class="breadcrumb-item">{{ value|upper }}</li>
          {% endfor %}
        </ol>

        <!-- Page Content Start-->
        {% block PageContent %}
        
        {% endblock %}
        <!-- Page Content End-->

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © {% now "Y" %} A32 SW All rights reserved</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
  <!-- jquery-ui.min.js -->
  <script src="{% static 'vendor\jquery-ui\jquery-ui.min.js' %}"></script>

  <!-- jquery.schedule.js -->
  <!-- custom jquery.schedule.js cant use min type -->
  <script src="{% static 'vendor\jquery-schedule\jquery.schedule.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

</body>

</html>