{% extends 'EM_base-layout.html' %}
{% load staticfiles %}

{% block PageContent %}

<div class="card">
    <div class="card-header">
        <i class="fas fa-table"></i>
        新增設備保養紀錄
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>線別 & 設備名稱</th>
                    </tr>
                </thead>
                <tbody>
                    {% for station in stationList %}
                    <tr>
                        <td>
                            <a href="{% url 'Form' line=currentPath.line station=station.enName %}">
                                {{ currentPath.line|upper }} - {{ station.name }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}