{% extends 'EM_base-layout.html' %}
{% load staticfiles %}

{% block PageContent %}

<div class="card">
    <div class="card-header">
        <i class="fas fa-table"></i>
         新增設備保養紀錄
    </div>
    <div class="card-body">
        <div class="form-group options">
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>保養完成</th>
                                <th>保養ID</th>
                                <th>設備名稱</th>
                                <th>項目類型</th>
                                <th>項目</th>
                                <th>週期(天)</th>
                                <th>上次保養日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value, label, obj in form.formCheckItems.field.choices %}
                            <tr>
                                <td class="text-center">
                                    <div class="checkbox">
                                        <input type="checkbox" name="formCheckItems" value="{{ value }}" style="zoom:150%;" required>
                                    </div>
                                </td>
                                <td class="text-center">{{ obj.checkID }}</td>
                                <td class="text-center">{{ obj.station.name }}</td>
                                <td class="text-center">{{ obj.size }}</td>
                                <td>{{ obj.explain }}</td>
                                <td class="text-center">{{ obj.cycleTime }}</td>
                                <td class="text-center">{{ lastRecordDate|dictGetValue:obj.checkID }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">保養人</span>
                    </div>

                    {{ form.checkOwner }}

                    <div class="input-group-prepend">
                        <span class="input-group-text">附件</span>
                    </div>

                    <div class="custom-file">
                        {{ form.checkFile }}
                        <label class="custom-file-label" for="file">file max size:2MB</label>
                    </div>

                    <div class="input-group-append">
                        <button class="btn btn-primary" id="submitBtn" type="submit">
                            送出
                        </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#id_checkFile').bind('change', function () {
        var FileSize = this.files[0].size / 1024 / 1024
        if (FileSize > 2) {
            alert('附件不能超過2MB');
            $(this).next().after().text('file max size:2MB');
            $('#file').val('');
        } else {
            $(this).next().after().text($(this).val().split('\\').slice(-1)[0]);
        }
    });

    $(function () {
        var requiredCheckboxes = $('.options :checkbox[required]');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
        var $tbr = $('table tbody tr');
        $tbr.click(function(){
					$(this).find('input').click();
				});
    });
</script>

{% endblock %}