{% extends 'EM_base-layout.html' %}
{% load staticfiles %}

{% block PageContent %}

<link href="{% static 'css/progress-wizard.min.css' %}" rel="stylesheet">

<!-- Icon Cards-->
<div class="row align-items-center">
    <div class="col-xl-4 col-sm-4 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-thumbs-up"></i>
                </div>
                <div class="mr-5">
                    <a class="h3">暫不需保養項目：{{ TotalSummary.L.G }}(大)/{{ TotalSummary.S.G }}(小)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-4 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-exclamation-triangle"></i>
                </div>
                <div class="mr-5">
                    <a class="h3">即將過期保養項目：{{ TotalSummary.L.Y }}(大)/{{ TotalSummary.S.Y }}(小)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-4 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-thumbs-down"></i>
                </div>
                <div class="mr-5">
                    <a class="h3">已過期保養項目：{{ TotalSummary.L.R }}(大)/{{ TotalSummary.S.R }}(小)</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% for line, lineInfo in lineSummary.items %}
{% if line != 'total' %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <i class="fas fa-map-signs"></i>
                <a href="{% url 'Detail' line=line %}">{{ line|upper }}</a>
                    (暫不需保養：{{ lineInfo.G }} ／ 即將過期：{{ lineInfo.Y }} ／ 已過期：{{ lineInfo.R }})
            </div>
            <div class="col-6 text-right">
                Owner：{{ lineOwnerList|dictGetValue:line }}
            </div>
        </div>
    </div>
    <div class="card-body p-2 mt-3">
        <div class="row align-items-center">
            <div class="col-11">
                <ul class="progress-indicator">
                    {% with stationDetailDict=stationSummary|dictGetValue:line %}
                    {% for station, detail in stationDetailDict.items %}
                    {% with stationEnName=request.COOKIES.stationEnNameDict|station2EnName:station %}
                    {% if detail.G >= 0.8 %}
                    <li class="completed">
                        <span class="bubble" style="zoom:200%;"></span> 
                        <a href="{% url 'Form' line=line station=stationEnName %}" style="zoom:150%;color:green;">
                            {{ station }}<br>({{ detail.G|percentage }})
                        </a>
                    </li>
                    {% else %}
                    <li class="danger">
                        <span class="bubble" style="zoom:200%;"></span>
                        <a href="{% url 'Form' line=line station=stationEnName %}" style="zoom:150%;color:red;">
                            {{ station }}<br>({{ detail.G|percentage }})
                        </a>
                    </li>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                    {% endwith %}
                </ul>
            </div>
            <div class="col-1">
                <a href="{% url 'Schedule' line=line %}">
                    <div class="card text-white bg-primary text-center">
                        <div class="card-body p-1">
                            {% with scheduleDays=lineSchedule|dictGetValue:line %}
                            {% if scheduleDays > 0 %}
                            <div class="h1">{{ scheduleDays }}</div>天後可保養
                            {% elif scheduleDays == 0 %}
                            <div class="h1">今</div>天可保養
                            {% else %}
                            <div class="h1">無</div>排程資料
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}