{% extends 'EM_base-layout.html' %}
{% load staticfiles %}

{% block PageContent %}

<!-- jquery-ui.css -->
<link rel="stylesheet" href="{% static 'vendor\jquery-ui\jquery-ui.css' %}">

<!-- jquery.schedule.css -->
<link rel="stylesheet" href="{% static 'vendor\jquery-schedule\jquery.schedule.css' %}">

<!-- jquery.schedule-demo.css -->
<link rel="stylesheet" href="{% static 'vendor\jquery-schedule\jquery.schedule-demo.css' %}">

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-calendar"></i>
        {{ line|upper }} - 7日保養排程
    </div>
    <div class="card-body">
        <div class="btn-group mb-3">
        {% if request.user.is_staff %}
            <button type="button" class="btn btn-primary" id="export">儲存</button>
        {% else %}
            <a href="{% url 'admin:index' %}">編輯排程請先登入管理員</a>
        {% endif %}
        </div>
        <div id="schedule" class="jqs-demo mb-3"></div>
    </div>
</div>

<script>
    $(function () {
        var defaultMode = '{{ schedule_setting.mode }}';
        var defaultDays = {{ schedule_setting.days|safe }};
        var defaultData = {{ schedule_setting.data|safe }};

        $('#schedule').jqs({
            mode: defaultMode,
            days: defaultDays,
            data: defaultData,
            periodRemoveButton: '刪除',
            periodDuplicateButton: '複製',
            periodTitlePlaceholder: '備註',
        });

        $('#export').click(function () {
            var scheduleData = $('#schedule').jqs('export')
            $.ajax({
                url: '{% url 'scheduleUpload' %}',
                type: 'post',
                data:{
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'line': '{{ line }}',
                    'data': scheduleData,
                    },
                dataType: 'json',
                success: function (data) {
                    alert('success');
                },
                error: function(xhr, status, e) {
                    alert('error');
                }
            })        
        });
    });
</script>

{% endblock %}